/* .styled select {
    background: transparent;
    width: 150px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px; 
 } 
 
 .styled{
    margin: 50px;
    width: 120px;
    height: 34px;
    border: 1px solid #111;
    border-radius: 3px;
    overflow: hidden;
    background: #ddd;
 }

 .ShoppingLists__edit_carts li{
     float: right;
 } */
 