.cartButtons__cart_buttons {
    display: flex;
    margin-top: auto;
    width: 100%;
}

.cartButtons__cart_button {
    border: 1px solid #9c9c9c;
    display: flex;
    justify-content: center;
    font-size: 22px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    width: 40px;
    color: #3071a9;
}

.cartButtons__cart_button:hover {
    cursor: pointer;
    background: #2a6293;
    color: white;
}

.cartButtons__cart_add {
    margin: 0 10px;
    width: 50%;
    max-width: 150px;
    border: 1px solid #9c9c9c;
    background-color: #2a6293;
    color: white;
    outline: none;
    font-size: 1rem;
}

.cartButtons__cart_add:hover {
    cursor: pointer;
    background: white;
    color: #2a6293;
}


.cartButtons__number_input {
    width: 50px;
    height: 40;
    padding: 3px;
    font-size: 16px;
    outline: none;
    text-align: center;
    border: 0px;
    font-size: 1rem;
    color: #333;
}

.cartButtons__unsaved {
    background: #c00;
}