.CartsNav__container {
    position: relative;
    top: 0;
}

.CartsNav__container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;   
    overflow: auto;
    margin: auto;
}

.CartsNav__container li {
    text-decoration: none;
    padding: 5px;
    float: left;
}

.CartsNav__container a {
    color: #2a6293;
    text-decoration: none;
    font-size: 1.2rem;
}

.CartsNav__active_list {
    height: 1.1rem;
    width: 1.1rem;
    border: 1px solid #2a6293;
    display: inline-block;
    margin-right: 3px;
}

.CartNav__active_cart {
    background: #c00;
}
